Repository JeromeMSD/projet_devops-ilia-2024-5, pull requests merged in 2025-01, with the labels that each got.

#12 Mis à jour format arbo de base
  .github/workflows/truc.txt
  CONTRIBUTING.md
  docs/truc.txt
  microserv1/README.md
  microserv1/data/truc.txt
  microserv1/requirements.txt
  microserv1/src/truc.txt
  microserv1/swagger.yaml
  microserv1/tests/truc.txt
Labels: duplicate

#33 7 architecture du microservice tweet
  docs/tweet/index.md
  docs/tweet/tweet.yml
  tweet/Dockerfile
  tweet/Dockerfile.dev
  tweet/Dockerfile.test
  tweet/Makefile
  tweet/requirements.txt
  tweet/src/__init__.py
  tweet/src/app.py
  tweet/src/conf.py
  tweet/src/main.py
  tweet/src/routes/__init__.py
  tweet/src/routes/blueprint.py
  tweet/src/routes/meta.py
  tweet/swagger.yaml
  tweet/tests/test_routes.py
Labels: documentation, enhancement, tweet

#41 doc(tweet): add GitHub Actions workflow for Tweet Microservice tests
  .github/workflows/tweet-test.yaml
Labels: tweet

#44 fix(tests): update test discovery path for Tweet Microservice
  .github/workflows/tweet-test.yaml
Labels: bug

#63 Ajout du dockerfile pour le microservice Authentification
  Authentification/Dockerfile
  Authentification/requirements.txt
  Authentification/src/__init__.py
  Authentification/src/config.py
  Authentification/src/main.py
  Authentification/src/models/example_model.py
  Authentification/src/routes.py
Labels: Authentification

#120 37 arborescence du microservice messages privés
  docs/messages_prives/index.md
  docs/messages_prives/messages_prives.yml
  messages_prives/README.md
  messages_prives/requirements.txt
  messages_prives/src/__init__.py
  messages_prives/src/main.py
  messages_prives/src/models/__init__.py
  messages_prives/src/utils.py
  messages_prives/swagger.yaml
  messages_prives/tests/__init__.py
  messages_prives/tests/test_main.py
  messages_prives/tests/test_utils.py
Labels: documentation

#114 Ajout du dockerfile pour mysql et un docker-compose pour gérer les de…
  .github/workflows/authentification_api_gcp
  authentification/data/dockerfile
  authentification/docker-compose.yml
Labels: help wanted, Authentification

#119 27 tweet create a flask api to handle tweet creation
  tweet/src/routes/tweet.py
  tweet/tests/test_route_tweet.py
Labels: enhancement, tweet

#129 Push les GitHub Actions pour push les container du service Authentifcation sur l'Artifact Registry
  .github/workflows/authentification_api_gcp
  .github/workflows/authentification_api_gcp.yml
  authentification/data/dockerfile
Labels: Authentification

#127 121 création dun prototype flask implémentant les routes essentielles du microservice messages privés
  messages_prives/src/database/database.py
  messages_prives/src/main.py
  messages_prives/src/routes/__init__.py
  messages_prives/src/routes/blueprints_path.py
  messages_prives/src/routes/messages_get_conversation_route.py
  messages_prives/src/routes/messages_mark_as_read_route.py
  messages_prives/src/routes/messages_send_route.py
  messages_prives/src/services/messages_get_conversation_service.py
  messages_prives/src/services/messages_mark_as_read_service.py
  messages_prives/src/services/messages_send_service.py
  messages_prives/swagger.yaml
Labels: Messages Privés

#137 135 refractoring add tweet to match the swagger
  tweet/src/routes/blueprint.py
  tweet/src/routes/tweet.py
  tweet/tests/test_route_tweet.py
Labels: enhancement

#156 131 ajout des api et de la page detail
  frontend/data/jill.png
  frontend/src/js/controller/haha.txt
  frontend/src/js/controller/message-controller.js
  frontend/src/js/detailpost.js
  frontend/src/js/login.js
  frontend/src/js/mainfeed.js
  frontend/src/js/message_prv.js
  frontend/src/js/register.js
  frontend/src/js/services/message-service.js
  frontend/src/js/view/haha.txt
  frontend/src/js/view/message-view.js
  frontend/src/login.css
  frontend/src/login.html
  frontend/src/pages/detailpost.html
  frontend/src/pages/login.html
  frontend/src/pages/mainfeed.html
  frontend/src/pages/register.html
  frontend/src/styles/detailpost.css
  frontend/src/styles/login.css
  frontend/src/styles/mainfeed.css
  frontend/src/styles/register.css
Labels: Frontend
